*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    height: 100vh;
    min-height: 100vh;
    display: table;
    display: grid;
    display: -ms-grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas: "header header header""navigation navigation navigation""column-left column-center column-right""footer footer footer";
    -ms-grid-columns: auto 1fr auto;
    -ms-grid-rows: auto auto 1fr auto;
    zoom: 1;
    font-size: 100%;
}

body * {
    display: inline-block;
}

body>header {
    grid-area: header;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
}

body>nav {
    grid-area: navigation;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
}

body>aside {
    grid-area: column-left;
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}

body>main {
    grid-area: column-center;
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    overflow: auto;
}

body>main+aside {
    grid-area: column-right;
    -ms-grid-row: 3;
    -ms-grid-column: 3;
}

body>footer {
    grid-area: footer;
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    display: flex;
    display: -ms-flexbox;
}

body > footer div{
    flex-basis: 0;
    flex-grow: 1;
    flex-basis: 0;
    -ms-flex-positive: 1;
    -ms-flex-preferred-size: 0;
}

.aramean-flag{
    max-width: 100%;
    max-height: 100%;
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/f/f5/Flag_of_the_Syriac-Aramaic_People.svg/1024px-Flag_of_the_Syriac-Aramaic_People.svg.png');
    background-size: cover;
}